@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.details p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    color: white;
}
.nav-pills{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

[data-bs-theme="dark"] .navbar{
    background-color: black;
    color: white;
}
[data-bs-theme="dark"] .details p{
    color: white;
}
[data-bs-theme="dark"] .nav-pills{
    background-color: black;
    color: white;
}
[data-bs-theme="dark"] .nav-pills .nav-link.active{
    background-color: rgb(255, 230, 0);
    color: black;
}